<h2> Trip History: </h2>
    <% @trips.each do |trip| %>
    <% if trip.user_id == session[:user_id]  %>
        <div class ="trip-Container">
        user: <%= trip.user.name %>,
        from: <%= trip.start.name %>, 
        To: <%= trip.end.name %>,
        On date: <%= trip.date %>
</div>

<% end %>
    <% end %>