<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if @current_user.present? %>
  <marquee>
    <h2>WELCOME BACK <%= @current_user.email %></h2>
  </marquee>
  
  <%= @session[:user_id] %>
<% end %>
test2