// Place all the styles related to the Stations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  div.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  div.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  div.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  div.example::after {
    content: "";
    clear: both;
    display: table;
  }